@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  min-height: 100%;
}

body {
  @apply bg-sv-app text-sv-text antialiased;
  font-feature-settings: "rlig" 1, "calt" 1;
}
